:root {
    --brand-green: hsl(170, 100%, 26%);
    --brand-green-light: hsl(148, 23%, 89%);
    --brand-beige: hsl(39, 100%, 97%);
    --gray-headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);

    font-size: 62.5%;

    --nav-height: 7.2rem;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

    text-align: center;

    overflow: overlay;
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}