:root {
    --brand-green: #00856F;
    --brand-green-light: #DCE9E2;
    --brand-green-light-02: #F7F9F9;
    --brand-green-hover: #00453A;
    --brand-beige: #FFFAF1;

    --gray-headline: #212529;
    --gray-paragraph: #495057;
    --white: #EDEDED;

    font-size: 62.5%;

    --nav-height: 7.2rem;
}

html, 
body {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var(--brand-green-light-02);
}

ul {
    list-style: none;
}