#about {
    background-color: var(--brand-beige);
    text-align: left;
}

#about h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.9rem;
    color: var(--gray-headline);
}

#about p {
    margin-top: 2.4rem;
    margin-bottom: 6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

@media (min-width: 1024px) {
    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas: 
        'right-column left-column';
        gap: 6.7rem;
    }

    #about .left-column {
        grid-area: left-column;
        align-self: center;
    }

    #about h4 {
        margin-bottom: 1rem;
    }

    #about h2 {
        width: 44.7rem;
        font-size: 4rem;
        line-height: 5.2rem;
    }

    #about p {
        margin-bottom: 0;
    }

    #about .right-column {
        grid-area: right-column;
    }
}