#home {
    padding-top: calc(4rem + var(--nav-height));
    padding-bottom: 0;
}

#home::before {
    content: '';
    display: block;
    width: 100%;
    height: calc(108rem + var(--nav-height));
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--brand-green-light);
}

h4 {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: var(--brand-green);
}

h1 {
    margin: 0 auto 2.4rem;
    font-size: 3.4rem;
    line-height: 4.42rem;
    color: var(--gray-headline);
}

p {
    margin: 0 auto 3.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
    color: var(--gray-paragraph);
}

#home .button {
    width: 26.3rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin: 0 auto 4.2rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    border: none;
    border-radius: 4rem;
    background-color: var(--brand-green);
    transition: background 200ms;
}

#home .button:hover {
    background-color: var(--brand-green-hover);
}

#home > img {
    display: block;
    margin-inline: auto;
}

@media (min-width: 1024px) {
    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas:
        'left-column right-column'
        'stats stats';
    }

    #home .left-column {
        grid-area: left-column;
        text-align: left;
        align-self: center;
    }

    #home header h4 {
        font-weight: 700;
        line-height: 2.1rem;
    }

    #home header h1 {
        font-size: 5.2rem;
        font-weight: 700;
        line-height: 6.8rem;
    }

    #home .button {
        margin: 0;
    }

    #home .right-column {
        grid-area: right-column;
    }

    #home .stats {
        grid-area: stats;
    }
}

@media (min-width: 1168px) {
    #home img {
        width: 42rem;
        height: 54.7rem;
    }
}