body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(#navigation) {
    visibility: hidden;
}

body.menu-expanded .close-menu {
    display: block;
}

.menu {
    transform: translateY(100%);
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path {
    fill: #FFF;
}

body.menu-expanded button path {
    stroke: #FFF;
}

body.menu-expanded .menu {
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--brand-green);
    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded .menu ul:nth-child(1) {
    margin-top: 6rem;
    margin-bottom: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;   
}

body.menu-expanded .menu ul li a {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--brand-beige);
}

body.menu-expanded .button {
    display: inline-block;
    width: 27.4rem;
    height: 5.5rem;
    margin-bottom: 8rem;
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--brand-green);
    background-color: #FFF;
    border-radius: 4rem;
}

body.menu-expanded .social-links {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}

@media (min-width: 1024px) {
    .menu {
        display: initial;
        visibility: initial;
        opacity: initial;
        transform: initial;
    }
}