body.menu-expanded #navigation {
    background-color: var(--brand-green);
}

body.menu-expanded .logo path {
    fill: #FFF;
}

body.menu-expanded #navigation .open-menu {
    display: none;
}

body.menu-expanded #navigation .close-menu {
    display: block;
}

body.menu-expanded #navigation .logo,
body.menu-expanded #navigation .close-menu {
    position: relative;
    z-index: 1;
}

body.menu-expanded > :not(#navigation) {
    display: none;
}

body.menu-expanded {
    background-color: var(--brand-green);
}

body.menu-expanded #navigation .menu {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

body.menu-expanded #navigation .menu ul:nth-child(1) {
    padding-top: calc(6rem + var(--nav-height));
    margin-bottom: 4.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;   
}

body.menu-expanded #navigation .menu ul li a {
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--brand-beige);
}

body.menu-expanded #navigation .button {
    display: inline-block;
    width: 27.4rem;
    height: 5.5rem;
    margin-bottom: 8rem;
    padding: 1.6rem 3.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--brand-green);
    background-color: #FFF;
    border-radius: 4rem;
}

body.menu-expanded #navigation .social-links {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
}