#navigation {
    height: var(--nav-height);

    display: flex;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#navigation .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll {
    width: 100vw;
    background-color: var(--brand-green);
}

.scroll svg:nth-child(1) path {
    fill: #FFF;
}

.scroll svg:nth-child(2) path {
    stroke: #FFF;
}