.stats {
    width: 100%;
    height: 47rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: .5rem;
    margin: 0 auto;
    padding: 4rem 0;
    border: 1px solid var(--brand-green-light);
    border-radius: .6rem;
    background-color: var(--brand-beige);
}

.stat h3 {
    font-size: 4.8rem;
    font-weight: 700;
    color: var(--gray-headline);
}

.stat p {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--brand-green);
}

@media (min-width: 1024px) {
    .stats {
        height: 21rem;
        flex-direction: row;
        bottom: 2.6rem;
    }

    .stats .stat {
        flex: 1;
    }

    .stats .stat + .stat {
        border-left: 1px solid rgba(0, 133, 111, .5);
    }
}